<div class="body">
<div class="container"><br>
    <p class="top-title"><em>Consult our specialists....</em></p>
<div class="card  text-center border-dark">
    <img src="assets/images/Allergist.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Allergist</h5>
        <div class="card-footer">
        <button (click)="clicked('Allergist')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Cardiologist.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Cardiologist</h5>
        <div class="card-footer">
        <button (click)="clicked('Cardiologist')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Dermatologist.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Dermatologist</h5>
        <div class="card-footer">
        <button (click)="clicked('Dermatologist')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Physician.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Physician</h5>
        <div class="card-footer">
        <button (click)="clicked('Physician')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Nephrologist.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Nephrologist</h5>
        <div class="card-footer">
        <button (click)="clicked('Nephrologist')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Neurologist.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Neurologist</h5>
        <div class="card-footer">
        <button (click)="clicked('Neurologist')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div> 
<div class="card  text-center border-dark">
    <img src="assets/images/Pediatrician.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Pediatrician</h5>
        <div class="card-footer">
        <button (click)="clicked('Pediatrician')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Surgeon.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Surgeon</h5>
        <div class="card-footer">
        <button (click)="clicked('Surgeon')" class="btn btn-primary btn-sm">Book Appointement</button>
        </div>
    </div>
</div>
<div class="card  text-center border-dark">
    <img src="assets/images/Psychiatrist.jpg" class="card-img-top">
    <div class="card-body"> 
        <h5 class="card-title">Psychiatrist</h5>
        <div class="card-footer">  
            <button class="btn btn-primary btn-sm" (click)="clicked('Psychiatrist')">Book Appointement</button>
        </div>    
    </div>
</div>
</div>
</div>