 <nav class="navbar navbar-expand-sm  navbar-dark">
    <p class="navbar-brand py-0"><span class="badge">{{title}}</span></p>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a routerLink=""  routerLinkActive="active" class="nav-link  py-0">HOME</a>
        </li>
        <li class="nav-item">
            <a routerLink="doctor" routerLinkActive="active" class="nav-link py-0">DOCTORS</a>
        </li>
        <li class="nav-item">
            <a routerLink="patient" routerLinkActive="active" class="nav-link py-0">PATIENTS</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
    <span>All Rights Reserved 2022 @NikithaRajPurohit</span>
</footer>
